<html>

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static '../static/css/style.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/bootstrap.min.css' %}">
</head>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<body>
    <!--Navbar-->
    {% include "navbar.html" %}
    <!--Fin Navbar-->
    <div class="container">
         <div class="row">
            <div class="col-md-12" style="margin-top: 5%">
                <h4>Compétences Linguistiques</h4>
            </div>
            <div class="col-md-12 d-flex justify-content-center ">
                <table>
                    <tr>
                        <th style="text-align: center;">Langue</th>
                        <th style="text-align: center;">Type</th>
                        <th style="text-align: center;">Niveau</th>
                    </tr>
                    {% for a in data.listeCompetences %}
                    <tr>
                        <th>{{a.Titre}}</th>
                        <th>{{a.Type}}</th>
                        <th>{{a.Niveau}}</th>
                    </tr>
                    {% endfor %}
                </table>
        </div>
    </div>
</body>