<html>

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static '../static/css/style.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/bootstrap.min.css' %}">
</head>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<body>
    <!--Navbar-->   
    {% include "navbar.html" %}
    <!--Fin Navbar-->
      <div class="row" style="width: 100%; margin-top: 5%; margin-bottom: 13%;">
        <div class="col-md-8" style="text-align: center;">
            <h1><strong>{{data.name}}</strong></h1>
            <h6 style="opacity: 0.6; margin-top: 2%;">{{data.title}}</h6>
            <hr style="margin-left: 5%;">
            <p style="opacity: 0.8;margin-left: 5%;">{{data.bio}} </p>
        </div>
        <div class="col-md-4">
            <img src="{% static 'img/dalel.png' %}" alt="profilPhoto" width="90%" style="border-radius: 50%;">
        </div>
    </div>
    
    <div class="row d-flex justify-content-around" style="width: 100%; margin-top: 8%; margin-bottom: 15%;">
        <div class="col-12">
            <h4 style="text-align: center; margin-bottom: 3%;">
                HOBBIES
            </h4>
        </div>
        <div class="card col-md-3">
            <img src="{% static 'img/developer_male.jpg' %}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title" style="text-align:center;">{{data.Hobbies.0.nom}}</h5>
                <p class="card-text" style="text-align:justify;">{{data.Hobbies.0.description}} </p>
            </div>
        </div>

        <div class="card col-md-3">
            <img src="{% static 'img/3d-student-graduation-cap-books-stack.jpg' %}"  class="card-img-top">
            <div class="card-body" style="margin-top: 25%;">
                <h5 class="card-title" style="text-align:center;">{{data.Hobbies.1.nom}}</h5>
                <p class="card-text" style="text-align:justify;">{{data.Hobbies.1.description}}</p>
            </div>
        </div>

        <div class="card col-md-3">
            <img src="{% static 'img/stylzd_hand_3.jpg' %}" class="card-img-top" width="100%">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">{{data.Hobbies.2.nom}}</h5>
                <p class="card-text" style="text-align:justify;">{{data.Hobbies.2.description}}</p>
            </div>
        </div>
    </div>



    <div class="row" style="width: 100%;  margin-bottom: 5%;">
        <div class="col-md-6">
            <img src="{% static 'img/socialLife1.png' %}" alt="profilPhoto" width="100%" height="120%" style="border-radius: 0 10px 10px 0;">
        </div>
        <div class="col-md-6" style="text-align: start;">
            <h4 style="text-align:center;">SOCIAL LIFE</h4>
            <ul style="margin-top: 10%;">
                <li style="margin-left: 10%;">
                    <p>{{data.SocialLife.social1.nom}} <small>({{data.SocialLife.social1.position}})       {{data.SocialLife.social1.period}}</small></p>
                </li>
                <li style="margin-left: 10%;">
                    <p>{{data.SocialLife.social2.nom}} <small>({{data.SocialLife.social2.position}})      {{data.SocialLife.social2.period}}</small></p>
                </li>
                <li style="margin-left: 10%;">
                    <p>{{data.SocialLife.social3.nom}}  <small>({{data.SocialLife.social3.position}})      {{data.SocialLife.social3.period}}</small></p>
                </li>
                <li style="margin-left: 10%;">
                    <p>{{data.SocialLife.social4.nom}}  <small>({{data.SocialLife.social4.position}})      {{data.SocialLife.social4.period}}</small></p>
                </li>
            </ul>
        </div>
    </div>
    <div>

    </div>
</body>

</html>